---
interface Props {
	title: string;
}

const { title } = Astro.props;
import '@fontsource/gasoek-one';

---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="no-scrollbar">
		<slot />
	</body>
</html>


<script>

import Lenis from 'lenis'

const lenis = new Lenis()

lenis.on('scroll', (e) => {
  console.log(e)
})

function raf(time) {
  lenis.raf(time)
  requestAnimationFrame(raf)
}



requestAnimationFrame(raf)


</script>


<style>

html.lenis, html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-smooth iframe {
  pointer-events: none;
}



html {
  scrollbar-width: none !important;
  -ms-overflow-style: none;
}
 
html body::-webkit-scrollbar {
  display: none;
}
 
html {
  scrollbar-width: none !important;
 

  -ms-overflow-style: none;
}
 
html body::-webkit-scrollbar {
  display: none;
}

</style>